/* .review{
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

*{
   box-sizing: border-box; 
}
.navbar{
    height: 10vh;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    height: 90vh;
}

.item .fa-facebook:hover{
    color: blue;
}
.item .fa-google:hover{
    color: rgb(255, 21, 21);
}
.item .fa-twitter:hover{
    color: rgb(1, 196, 255);
}

.animated{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    margin: 5vw;
}

.animated .item a{
    text-decoration: none;
    font-size: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}

.review {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 2vw;
    margin: 2vw;
}

#text{
    font-size: 20px;
    margin: 5vw 5vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    transition: 1s;
    color: rgb(80, 80, 80);
}

img{
    width: 90px;
    padding: 1vw;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
}

img:hover{
    opacity: 1;
}

#name{
    border: 1px solid gray;
    transition: 1s;
    cursor: default;
    background-color: white;
    border: none;
    font-size: 20px;
}

@media(max-width: 992px){
    .navbar{height: auto;}
    .container{height: auto;}
}