.container1{
    display: flex;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),url('https://images.pexels.com/photos/196656/pexels-photo-196656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.item .fa-facebook:hover{
    color: blue;
}
.item .fa-google:hover{
    color: rgb(255, 21, 21);
}
.item .fa-twitter:hover{
    color: rgb(1, 196, 255);
}

.animated{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

.animated .item a{
    text-decoration: none;
    font-size: 28px;
    color: white;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.intro .title{
    color: rgba(255, 255, 255, 0.938);
    font-size: 6vw;
    padding: 10px;
    margin: 5px;
}
.intro .faded{
    color: rgba(190, 198, 206, 0.938);
    font-size: 2.5vw;
    padding: 10px;
    margin: 5px;
}

.btns a{
    background-color: #04AA6D; /* Green */
    margin: 6px;
    color: white;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
}

.btns a:hover{
    background-color: #04aa6d9a; /* Green */
}

.images{
    width: 50%;
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100%;
}

.image2 {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30%;
}

@media(max-width:848px){
    .container1{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .images{display: none ;}
    .animated{
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }
    .intro{width: 100%;}
    .intro .title{font-size: 7vw; text-align: center;}
    .intro .faded{font-size: 4vw; text-align: center;}
    .intro .btns{font-size: 4vw; text-align: center;}
}

